
.carousel {
    max-width:1920px;
    max-height:1000px;
  }

.body {background-color: #335589;}

.navbar {background-color: #1b2748;}
 
.carousel-item {max-width: 1920px;
max-height: 1000px;}

.carousel-caption {
    bottom: 10rem;

}

 .a {text-decoration: none; color: white;}

.display-1 {color: #1b2748;
background-color: rgba(255, 255, 255, 0.479);}

.pe {color: #1b2748;
    background-color: rgba(255, 255, 255, 0.479);}

    .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }


    .btn {background-color: #272B39}

